<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  </style>

<div>
    <label for="flightId">Enter Flight ID:</label>
    <input type="text" id="flightIdInput" [(ngModel)]="flightIdInput">
  <button (click)="getAllFlightTrips()">Get Flight Trips</button>
    <table>
      <thead>
        <tr>
          <th>Flight ID</th>
          <th>Departure</th>
          <th>Arrival</th>
          <th>status</th>
          <th>filledSeats</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let flightTrip of flightTripList; let i = index;">
          <td>{{ flightTrip.flightTripId }}</td>
          <td>{{ flightTrip.departure }}</td>
          <td>{{ flightTrip.arrival }}</td>
          <td>{{ flightTrip.status }}</td>
          <td>{{ flightTrip.filledSeats }}</td>
          <td>{{ flightTrip.ticketPrice }}</td>
        </tr>
      </tbody>
    </table>
  </div>