<h2>Flights for</h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">FlightCode</th>
      <th scope="col">Check-in Weight</th>
      <th scope="col">Cabin Weight</th>
      <th scope="col">Total Seats</th>
      <th scope="col">Airline Id</th>
      <th scope="col">Modify</th>
      <th scope="col">Delete</th>
      <th scope="col">Bookings</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let flight of flightsList; let i = index">
      <td>{{ i }}</td>
      <td>{{ flight.flightCode }}</td>
      <td>{{ flight.checkInWeight }}</td>
      <td>{{ flight.cabinWeight }}</td>
      <td>{{ flight.totalSeats }}</td>
      <td>{{ flight.airlineId }}</td>
      <td><button type="button" class="btn btn-info" (click)="openEditForm(flight)">Modify</button></td>


      

      <td><button type="button" class="btn btn-danger">Danger</button></td>
      <!-- Inside the template where you navigate to ManageFlightTripsComponent -->
      <td>
        <button
          type="button"
          class="btn btn-info"
          [routerLink]="['/flight-trip', flight.flightCode]"
        >
          View All Flights
        </button>
      </td>

    
     
    </tr>
  </tbody>
</table>

<div *ngIf="showFormBox" class="modal fade" tabindex="-1" id="flightEditForm">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Flight</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeEditForm()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="flightForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="cabinWeight">Cabin Weight</label>
            <input type="number" id="cabinWeight" formControlName="cabinWeight">
          </div>
          <div>
            <label for="checkInWeight">Check-in Weight</label>
            <input type="number" id="checkInWeight" formControlName="checkInWeight">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeEditForm()">Close</button>
        <button type="submit" class="btn btn-primary" [disabled]="!flightForm.valid">Update Flight</button>
      </div>
    </div>
  </div>
</div>
