<h2>Flight Trips for</h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">FLight Trip Id</th>
      <th scope="col">Source</th>
      <th scope="col">Destination</th>
      <th scope="col">Filled Seats</th>
      <th scope="col">Ticket Price</th>
      <th scope="col">Status</th>
      <th scope="col">Modify</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let flightTrip of flightTripsList; let i = index">
      <td>{{ i }}</td>
      <td>{{ flightTrip.flightTripId }}</td>
      <td>{{ flightTrip.departure }}</td>
      <td>{{ flightTrip.arrival }}</td>
      <td>{{ flightTrip.filledSeats }}</td>
      <td>{{ flightTrip.ticketPrice }}</td>
      <td>{{ flightTrip.status }}</td>
      <td><button type="button" class="btn btn-info">Modify</button></td>
      <td><button type="button" class="btn btn-danger">Danger</button></td>
    </tr>
  </tbody>
</table>

